<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/fonts.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">
</head>

<body class="bg-[#050506]">
    <div href="" class=" m-3 min-h-64">
        <!-- <h1 class="h-3"></h1> -->
        <div class=" h-48 overflow-hidden">
            <img class="object-cover h-full w-full rounded-lg" src=<%=tournament.banner %> alt="">
        </div>

        <div class="">
            <h1 class="text-lg text-white px-4 pt-2.5 font-semibold leading-none"><%= tournament.title %></h>
                <h1 class="text-zinc-400 px-4 pb-2">@<%= tournament.createdBy %></h1>
        </div>
    </div>

    <div class="m-3 gap-2 flex flex-col">
                    <div class="border border-zinc-800 rounded-xl text-white">
                        <div class="flex items-center gap-5 p-3">
                            <i class="fas fa-trophy text-blue-600 ml-3"></i>
                            <div class="">
                                <h1 class="text-zinc-400">Match Type</h1>
                                <%if (tournament.matchType==='solo-full-map' ) {%>
                                <h1>Solo Full Map Bermuda</h1>
                                <%} else if (tournament.matchType==='solo-lone-wolf' ) { %>
                                    <h1>Lone Wolf 1 VS 1 Iron Cage</h1>
                                    <%} else if ( tournament.matchType==='clash-squad-1v1' ) { %>
                                        <h1>Clash Squad 1 VS 1 Bermuda</h1>
                                        <%}%>
                            </div>
                        </div>

                        <hr class="h-[1px] mb-3 border-none outline-none bg-zinc-800 mx-6">

                        <div class="flex items-center gap-5 p-3">
                            <i class="fas fa-coins text-blue-600 ml-3"></i>
                            <div class="">
                                <h1 class="text-zinc-400">Entry Fee</h1>
                                <h1><%=tournament.entryFee%> Coins </h1>
                            </div>
                        </div>

                        <hr class="h-[1px] mb-3 border-none outline-none bg-zinc-800 mx-6">

                        <div class="flex items-center gap-5 p-3">
                            <i class="fas fa-gift text-green-600 ml-3"></i>
                            <div class="">
                                <h1 class="text-zinc-400">Winning Prize</h1>
                                <h1><%=tournament.winPrize%> Coins</h1>
                            </div>
                        </div>

                        <hr class="h-[1px] mb-3 border-none outline-none bg-zinc-800 mx-6">

                        <div class="flex items-center gap-5 p-3">
                            <i class="fas fa-users text-blue-600 ml-3"></i>
                            <div class="">
                                <h1 class="text-zinc-400">Max Players</h1>
                                <h1><%=tournament.players%></h1>
                            </div>
                        </div>

                        <hr class="h-[1px] mb-3 border-none outline-none bg-zinc-800 mx-6">

                        <div class="flex items-center gap-5 p-3">
                            <i class="fas fa-calendar text-blue-600 ml-3"></i>
                            <div class="">
                                <h1 class="text-zinc-400">Tournament Date</h1>
                                <h1><%=tournament.tDate%>, at <%=tournament.tTime%></h1>
                            </div>
                        </div>
                    </div>
                   
    </div>

    <div class="fixed bottom-0 pb-3 pt-2 right-0 left-0 flex justify-center px-4 backdrop-blur-md">
        <a href="#" class="text-white bg-green-600 w-full max-w-md py-3 text-center rounded-lg shadow-lg">
            <i class="fas fa-sign-in-alt mr-2"></i> Join Tournament
        </a>
    </div>
    

    <div class="border border-zinc-800 mx-3 rounded-lg mt-3 ">
        <h1 class="text-white text-2xl p-3 flex flex-col">Description/Rules
            <hr class="w-48">
        </h1>
        <p class="text-zinc-300 p-3">
            <%= tournament.description %>
        </p>
    </div>

    <h1 class="h-24"></h1>
</body>

</html>